
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}

a:link{
    text-decoration: none;
    color: #fff;
}
a:visited{
    text-decoration: none;
    color: #fff;
}
.text{
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    margin: 0px 40px;
}

.text_white{
    color :#fff;
}


body{
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
    background-color: rgba(194, 194, 194, 0.301);
}
nav{
 background-color: #fff;
}

nav ul{

    padding:  0 10px;
    height: 60px;
    display: flex;
    justify-content:space-between; 
    align-items: center;

}

.nav_logo{
    height: 30px;
}

.nav_user{
    display: flex;
}
.user-pic{
    height: 40px;
    border-radius: 20px;
}
.down-arrow{
    align-self: center;
    height: 15px;
}


.categories{
    height: 60px;
    background-color: #0071BC;   
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    
}

.categorie{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

.button{
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat; 
    cursor: pointer;
    background-position: center;
}
.button_back{
    position: absolute;
    left: 10px;
    background-image: url("../images/back-arrow.png");
}
.button_settings{
    position: absolute;
    right: 10px;
    background-image: url("../images/settings.svg");
}



.products{
    padding: 10px;
}

.product{
    margin-bottom: 5vh; 
}

.product_price{
    position: absolute;
    padding: 10px;
    background-color: #fff;
    color: #3FA9F5;
}

.product_image{
    max-width: 100%;
}

.product_details{
    padding: 10px;
    background-color: #0071BC;
    color: #fff;

}

.product_name{
    margin-top: 7px; 
    font-size: 1.3em;
    padding-bottom: 10px;
}

.progressbar,.backgr {
    background-color:#fff;
    border-radius: 10px; /* (height of inner div) / 2 + padding */
    display: flex;
    align-items: center;
    position: relative;
  }
  
.progressbar > .bar {
    background-color: black;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.progressbar > .marker {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    margin-left: -4px;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
}
.hiddenmarkers{
    opacity: 0;
    z-index: 100;
}
.markerinfo{
    right: 10px;
    padding: 6px;
    min-width: 35vw;
    font-size: 0.8em;
    position: absolute;
    margin: -25px -3px 0 0;
    font-family: 'Raleway', sans-serif;
    background-color: #3FA9F5;
}

.backgr{
    position: absolute;
    background-color: #3FA9F5;
    height: 20px;
    width: 100%;
    mix-blend-mode: screen;
}

.product_amount-time{
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.product_time{
    display: flex;
    justify-content: right;
    align-items: center;
}

.product_time img{
    height: 0.8em;
    padding-right: 7px;
}


.on-photo{
    font-size: 0.9em;
    padding: 0px 10px 8px;
    margin-top: -25px; 
}

.product_description{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0;
}
.opened{
    margin: 10px 0;
}

.button_joinDrop{
    background-color: #0071BC;
    color: #fff;
    height: 50px;
    border: none;
    width: 100%;
    margin-top: 15px; 
    font-size: 0.9em;
}
input{
    font-family: 'Roboto', sans-serif; 
}


.settings{
    text-align: center;
    width: 100vw;
    z-index: 10;
    position: absolute;
    background-color:#0071BC; 
    color: #fff;
    font-size: 6vw;
    display: none;
}

.settings_nav{
    padding: 5vw;
    display: flex;
    justify-content: space-between;
}
.button_close{
    height: 20px;
    width: 20px;
    background-image: url("../images/cross.svg");
}
.reset{
    font-size: 5vw;
}
.zoeken, .sorteren{
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.optie{
    padding: 2px;
    margin: 2vw;
    background-color: #3FA9F5;
    height: 26vw;
    width: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw ;
    word-break: break-word;
}
.sorteer{
    width: 41vw;
    height: 41vw;
    font-size: 6vw;
}

.button_add{
    position: absolute;
    right: 10px;
    background-image: url("../images/plus.svg");
}

.slider{
    padding: 0;
}

.slider .product{
    margin: 3vw;
    max-width: 94vw;
    padding-bottom: 6vw; 

}
.product_pricedescription{
    
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 10px;
}

@media screen and (min-width: 900px){


    nav{
        height: 80px;
    }
    
    nav ul{
    
        display: flex;
        justify-content:space-between; 
        align-items: center;
    
    }
    
    .nav_logo{
        height: 60px;
    }

}
@media screen and (min-width: 900px){


    .text{
        font-size: 2em;
        margin: 0px 40px;
    }

}
